/***********
GENERAL RESET
***********/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/***********
GENERAL CONTAINERS
***********/

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}



.row {
    width: 90%;
    margin: 0 auto;
}

.col {
    width: 100%;
    background-color: red;
}




/***********
HEADER
***********/
header {
    background-color: rgb(0, 132, 253);
    height: 50px;
}

.content-header-right {
    display: flex;
}

ul li {
    display: inline-block;
}



/***********
MAIN
***********/
/***********
JUMBOTRON
***********/

.card {
    height: 100px;
    background-color: rgb(181, 221, 255);
    border-radius: 20px;
    text-align: center;
}







/***********
UTILITY
***********/

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-direction {
    flex-direction: column;
}

.width-45 {
    width: 45%;
}

.full-width {
    width: 100%;
}

.container:nth-child(even) {
    background-color: rgb(151, 146, 228);
}

.content-img {
    width: 100px;
    height: 100px;
    background-color: gold;
}


